# requirements.txt
apache-airflow-providers-amazon
boto3
requests
great_expectations
duckdb
dbt-duckdb
pandas


astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy